.page-footer  {
    background: linear-gradient(to top, #656c57 0%, #fa95ab 100%);
}

ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa {
    font-size: 30pt;
    color: #FFF7EC;
    padding: 10px;
}

.fa-github:hover {
    color: black;
}

.fa-linkedin-square:hover {
    color: #0072b1;
}

.fa-whatsapp:hover {
    color: #2CA639;
}