<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h1 class="fs-60 d-flex justify-content-center">Seja bem vinde!!!</h1>
            <h5 class="fs-18 d-flex justify-content-center">Publique aqui o que você quiser...</h5>
        </div>
      </div>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6 mt-3 mb-5 d-flex justify-content-center">
            <button
              class="btn btn-outline-success mr-2"
              data-toggle="modal"
              data-target="#novaPostagem">
              Nova Postagem
            </button>
            <button class="btn btn-outline-success ml-2">Ver Postagens</button>
          </div>
        </div>

    </div>

        <div class="col-md-6 mt-5">
            <img src="/assets/images/LogoBlog.png" alt="Logo do blog">
        </div>
  </div>
</div>

<div class="container mt-5 mb-5" id="postagens">
  <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
    
    <li class="nav-item" role="presentation">
      <a
      class="nav-link active"
      id="todasPostagens-tab"
      data-toggle="tab"
      href="#todasPostagens"
      role="tab"
      aria-controls="todasPostagens"
      aria-selected="true"
      >Todas Postagens</a>
    </li>

    <li class="nav-item" role="presentation">
      <a
      class="nav-link"
      id="minhasPostagens-tab"
      data-toggle="tab"
      href="#minhasPostagens"
      role="tab"
      aria-controls="minhasPostagens"
      aria-selected="false"
      >Minhas Postagens</a>
    </li>

    <li class="nav-item" role="presentation">
      <a
      class="nav-link"
      id="postagemTema-tab"
      data-toggle="tab"
      href="#postagemTema"
      role="tab"
      aria-controls="postagemTema"
      aria-selected="false"
      >Postagem Tema</a>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="todasPostagens"
      role="tabpanel"
      aria-labelledby="todasPostagens-tab">
      Generation Brasil oferece Bootcamp na Grande São Paulo para ajudar na sua carreira como Desenvolvedor Web.
    </div>
    
    <div
      class="tab-pane fade"
      id="minhasPostagens" 
      role="tabpanel" 
      aria-labelledby="minhasPostagens-tab">
      Após 7 anos de formada em Biomedicina, Jessica resolveu fazer transição de carreita na área de tecnologia e atualmente está participando do Bootcamp da Generation Brasil com previsão de término em Março/2022.
    </div>
    
    <div 
      class="tab-pane fade" 
      id="postagemTema" 
      role="tabpanel" 
      aria-labelledby="postagemTema-tab">
      Vaga remota para Desenvolvedor Front-End com conhecimentos em Bootstrap, Angular, Typescript!
    </div>
  </div>

  <div class="modal" tabindex="-1" id="novaPostagem" aria-labelledby="novaPostagemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="novaPostagemLabel">Nova Postagem</h5>
          <button 
          type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="titulo">Título</label>
            <input
              type="text"
              name="titulo"
              id="titulo"
              class="form-control"
              placeholder="Digite o título"
            />
          </div>
          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea
              name="texto"
              id="texto"
              rows="3"
              class="form-control"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="tipo"
              >Escolha um tema ou
              <a data-dismiss="modal" routerLink="/theme"
                >Cadastre um novo</a
              ></label
            >
            <select name="tema" id="tema" class="form-control">
              <option value="">Temas</option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="button" class="btn btn-outline-success">Publicar</button>
        </div>

      </div>
    </div>
  </div>
</div>